---
// https://github.com/withastro/storefront/
export type Image = {
  src: string;
  alt: string;
};
export type SEOMetaData = {
  name: string;
  title: string;
  description: string;
  image: Image;
  canonicalURL?: string | URL;
  locale?: string;
};
export type OpenGraph = Partial<SEOMetaData> & { type?: string };
export type Twitter = Partial<SEOMetaData> & {
  handle?: string;
  card?: "summary" | "summary_large_image";
};
export type Props = SEOMetaData & {
  og?: OpenGraph;
  twitter?: Twitter;
};

const {
  name,
  title,
  description,
  image,
  locale = "en",
  canonicalURL = new URL(Astro.url.pathname, Astro.site),
  og: _og = {},
} = Astro.props;

const og: OpenGraph = {
  name,
  title,
  description,
  canonicalURL,
  image,
  locale,
  type: "website",
  ..._og,
};

const ensureTrailingSlash = (url: string | URL) => url.toString().replace(/\/$/, "") + "/";
---

<meta name="generator" content={Astro.generator} />
<link rel="canonical" href={ensureTrailingSlash(og.canonicalURL!)} />
<title>{title}</title>
<meta name="description" content={description} />
<meta property="og:title" content={og.title} />
<meta property="og:type" content={og.type} />
<meta property="og:url" content={ensureTrailingSlash(og.canonicalURL!)} />
<meta property="og:locale" content={og.locale} />
<meta property="og:description" content={og.description} />
<meta property="og:site_name" content={og.name} />
{
  og.image && (
    <>
      <meta property="og:image" content={og.image.src} />
      <meta property="og:image:alt" content={og.image.alt} />
    </>
  )
}
